<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }
    </style>
</head>
<body>
    <div>
        @Html.Partial("_Header")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <div>
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
