@model WebDienThoai.Models.RegisterViewModel

@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb {
    @ViewBag.Breadcrumb
}

<h2>Đăng ký tài khoản</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.HoTen)
        @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.HoTen, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SDT)
        @Html.TextBoxFor(m => m.SDT, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SDT, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DiaChi)
        @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GioiTinh)
        @Html.TextBoxFor(m => m.GioiTinh, new { @class = "form-control", placeholder = "Nam/Nữ" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DanToc)
        @Html.TextBoxFor(m => m.DanToc, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success mt-2">Đăng ký</button>

    <p class="mt-3">
        Đã có tài khoản?
        @Html.ActionLink("Đăng nhập", "Login", "Account")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
